.item {
  padding: 3px;
}

.button {
  margin-left: 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
}

.button:active {
  border: 1px solid rgb(26, 140, 193);
  background-color: rgb(26, 140, 193);
}
